body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    font-size: 42px;
    font-weight: bold;
    margin: 40px auto;
    color: #f5f0f0;
    background-color: #5cae5ec4;
}

h1 {
    font-size: 34px;
    margin-bottom: 20px auto;
    font-family: 'Indie Flower', cursive;
    color: rgba(19, 46, 46, 0.566);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 22px;
    margin: 30px auto;
}

select {
    width: 17%;
    padding: 10px;
    font-size: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b0d7b0;
}

ul {
    list-style: none;
}