body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 10rem;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 40px auto;
    color: #f5f0f0;
    background-color: #5cae5ec4;
    border-radius: 1rem;
    padding: 1rem;
}

h2 {
    font-size: 34px;
    margin: 50px auto;
    font-family: 'Indie Flower', cursive;
    color: rgba(19, 46, 46, 0.566);
}

#emotionsList {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

.active {
    border: 4px solid #5cae5ec4;
    padding: 0 0.4rem;
    border-radius: 10rem;
}

.clear_btn {
    background-color: #5cae5ec4;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear_btn:hover {
    background-color: #b0d7b0;
}

/* label {
    display: block;
    font-size: 22px;
    margin: 30px auto;
} */

/* select {
    width: 17%;
    padding: 10px;
    font-size: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
} */


/* input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

input[type="submit"]:hover {
    background-color: #b0d7b0;
} */

ul {
    list-style: none;
}

#trailer {
    margin-top: 20px;
    border-radius: 10px;
}

#poster {
    height: 347px;
    margin-right: 90px;
    border-radius: 15px;
    padding-bottom: 2px;
    border: 1px solid lightgray;
}

#messagetext {
    font-size: 25px;

}

#title {
    margin: 60px auto 15px auto;
    color: #af514c;
}


#description {
    color: #020e02c4;
    padding: 10px;
    font-size: 18px;
    padding: 0;
    margin: 0;

}

#description li {
    margin-bottom: 10px;
    margin-top: 20px;
}

#movieContainer {
    margin-bottom: 50px;
}

#year,
#genre,
#rating,
#imdblink {
    font-weight: bold;
}

#imdblink a {
    text-decoration: none;
    color: #020e02c4;
    transition: color 0.3s ease;
}

#imdblink a:hover {
    color: #2980b9;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: #5cae5ec4;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #b0d7b0;
}


footer {
    padding: 2rem 20rem;
}

footer p {
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul a {
    text-decoration: none;
}